@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs_slider {
  top: 100%;
  width: 100%;
  position: absolute;
}


@font-face {
  font-family: syne;
  src: url('/public/fonts/Syne-Regular.woff');
}

@font-face {
  font-family: syne_bold;
  src: url('/public/fonts/Syne-Bold.woff');
}

@font-face {
  font-family: syne_mono;
  src: url('/public/fonts/Syne-Mono.woff');
}

@font-face {
  font-family: syne_extra;
  src: url('/public/fonts/Syne-Extra.woff');
}

body {
  font-family: syne;
}



/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  /* font-size: 16px;
  line-height: 1; */
  left: 16px;
}

.input-container input {
  height: 64px;
  border-radius: 4px;
  /* border: none; */
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container select {
  height: 64px;
  border-radius: 4px;
  /* border: none; */
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {}