@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs_slider {
	top: 100%;
	width: 100%;
	position: absolute;
}

/* @font-face {
    font-family: euclidRegular;
    src: url('/public/fonts/Euclid_Circular_B_Regular.ttf')format('ttf');
}

@font-face {
    font-family: euclidMedium;
    src: url('/public/fonts/Euclid_Circular_B_Medium.ttf')format('ttf');
}

@font-face {
    font-family: euclidLight;
    src: url('/public/fonts/Euclid_Circular_B_Medium.ttf')format('ttf');
}

@font-face {
    font-family: euclidBold;
    src: url('/public/fonts/Euclid_Circular_B_Bold.ttf')format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: euclidSemiBold;
    src: url('/public/fonts/Euclid_Circular_B_SemiBold.ttf')format('ttf');

} */

@font-face {
  font-family: syne;
  src: url('/public/fonts/Syne-Regular.woff');
}

@font-face {
  font-family: syne_bold;
  src: url('/public/fonts/Syne-Bold.woff');
}
@font-face {
  font-family: syne_mono;
  src: url('/public/fonts/Syne-Mono.woff');
}
@font-face {
  font-family: syne_extra;
  src: url('/public/fonts/Syne-Extra.woff');
}
/* @font-face {
  font-family: proximanova;
  src: url('/public/fonts/Proxima-Nova-Regular.ttf');
}
@font-face {
  font-family: proximanova-semibold;
  src: url('/public/fonts/proximanova-semibold.ttf'); */
/* } */

body{
	font-family: syne;
}

.formik__field {
  background-color: white;
	border: 1px solid lightgrey;
	border-radius: 8px;
	font-size: 1rem;
	line-height: 1.5rem;
	font-style: normal;
	font-weight: 400;
	width: 100%;
	margin-top: 0.5rem;
	padding: 0.75rem 0.75rem;
}

.formik__field:focus,
	.formik__field:active {

		border: 1px solid #E4E4E4;
		outline: none;
	}


/* Chakra Tabs */
.css-ldu845[aria-selected=true], .css-ldu845[data-selected] {
    font-size: larger;
    padding-bottom: 1em;
    color: #4545FE !important;
    border-color: #4545FE !important;
    border-bottom-width: 5px !important;
}
/* Chakra Tabs End */